In [97]:
import warnings
warnings.filterwarnings('ignore')

In [98]:
from sklearn.ensemble import RandomForestRegressor

In [99]:
rf=RandomForestRegressor()

In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [101]:
df=pd.read_csv('F:\Data_Science\Diabetes\Diabetes1.csv')

In [102]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [103]:
df.shape

(768, 9)

In [104]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [105]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [106]:
df[df['Glucose']==0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
75,1,0,48,20,0,24.7,0.140,22,0
182,1,0,74,20,23,27.7,0.299,21,0
342,1,0,68,35,0,32.0,0.389,22,0
349,5,0,80,32,0,41.0,0.346,37,1
502,6,0,68,41,0,39.0,0.727,41,1

In [107]:
df['Glucose']=np.where(df['Glucose']==0,df['Glucose'].median(),df['Glucose'])
df['Insulin']=np.where(df['Insulin']==0,df['Insulin'].median(),df['Insulin'])
df['SkinThickness']=np.where(df['SkinThickness']==0,df['SkinThickness'].median(),df['SkinThickness'])

In [108]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35.0,30.5,33.6,0.627,50,1
1,1,85.0,66,29.0,30.5,26.6,0.351,31,0
2,8,183.0,64,23.0,30.5,23.3,0.672,32,1
3,1,89.0,66,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40,35.0,168.0,43.1,2.288,33,1

In [109]:
X=df.drop('Outcome',axis=1)
y=df['Outcome']

In [110]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72,35.0,30.5,33.6,0.627,50
1,1,85.0,66,29.0,30.5,26.6,0.351,31
2,8,183.0,64,23.0,30.5,23.3,0.672,32
3,1,89.0,66,23.0,94.0,28.1,0.167,21
4,0,137.0,40,35.0,168.0,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101.0,76,48.0,180.0,32.9,0.171,63
764,2,122.0,70,27.0,30.5,36.8,0.340,27
765,5,121.0,72,23.0,112.0,26.2,0.245,30
766,1,126.0,60,23.0,30.5,30.1,0.349,47
767,1,93.0,70,31.0,30.5,30.4,0.315,23

In [111]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [112]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [113]:
y.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [114]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=10)

In [115]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
rf_y_pred=rf.predict(X_test)
rf_accuracy=accuracy_score(y_test,rf_y_pred)
rf_accuracy

0.7467532467532467

In [139]:
value=[]
algo=[]
def cross_val_score_model(model,name):
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=10)
    cv_score=cross_val_score(model,X,y,cv=cv).mean()
    print('CV_Score' + ' '+ str(model) +': '+ str(cv_score))
    value.append(cv_score)
    algo.append(name)

cross_val_score_model(RandomForestClassifier(),'Random Forest Classifier')

CV_Score RandomForestClassifier(): 0.7662337662337663

In [117]:
model_params={
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[100,200,300,400,500,600,700],
            'criterion' : ['gini', 'entropy'],
            'max_features' : ['auto', 'sqrt','log2'],
            'max_depth' : [10,50,100,150,200,250,300,350,400,450,500]
        }
    }
}

In [123]:
scores=[]
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=10)
for model_name, mp in model_params.items():
    random_cv=RandomizedSearchCV(mp['model'],mp['params'],cv=cv, return_train_score=False)
    random_cv.fit(X,y)
    scores.append({
        'model':model_name,
        'best_score':random_cv.best_score_,
        'best param':random_cv.best_params_,
        'best estimator':random_cv.best_estimator_
    })

ds=pd.DataFrame(scores,columns=['model','best param'])
ds

           model                                         best param
0  random_forest  {'n_estimators': 300, 'max_features': 'sqrt', ...

In [124]:
def display_text_max_col_width(df, width):
    with pd.option_context('display.max_colwidth', width):
        print(df)

display_text_max_col_width(ds['best param'], 800)

0    {'n_estimators': 300, 'max_features': 'sqrt', 'max_depth': 150, 'criterion': 'gini'}
Name: best param, dtype: object

In [138]:
cross_val_score_model(RandomForestClassifier(n_estimators=300,criterion='gini',max_features= 'sqrt', max_depth= 150),'Random Forest Classifier_Best_RandomCV')

CV_Score RandomForestClassifier(max_depth=150, max_features='sqrt', n_estimators=300): 0.7688311688311689

In [126]:
model_params1={
    'random_forest1':{
        'model1':RandomForestClassifier(),
        'params1':{
            'criterion' : [random_cv.best_params_['criterion']],
            'max_features' : [random_cv.best_params_['max_features']],
            'max_depth' : [random_cv.best_params_['max_depth']-20,
                           random_cv.best_params_['max_depth']-10,
                           random_cv.best_params_['max_depth'],
                           random_cv.best_params_['max_depth']+10,
                           random_cv.best_params_['max_depth']+20],
            'n_estimators':[random_cv.best_params_['n_estimators']-75,
                            random_cv.best_params_['n_estimators']-50,
                            random_cv.best_params_['n_estimators']-25,
                            random_cv.best_params_['n_estimators'],
                            random_cv.best_params_['n_estimators']+25,
                            random_cv.best_params_['n_estimators']+50,
                            random_cv.best_params_['n_estimators']+75]
        }
    }
}

In [129]:
from sklearn.model_selection import GridSearchCV
scores1=[]
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=10)
for model_name, mp in model_params1.items():
    grid_cv=GridSearchCV(mp['model1'],mp['params1'],cv=cv, return_train_score=False)
    grid_cv.fit(X,y)
    scores1.append({
        'model1':model_name,
        'best_score1':grid_cv.best_score_,
        'best param1':grid_cv.best_params_,
        'best estimator1':grid_cv.best_estimator_
    })

ds1=pd.DataFrame(scores1,columns=['model1','best param1'])
ds1

           model1                                        best param1
0  random_forest1  {'criterion': 'gini', 'max_depth': 170, 'max_f...

In [131]:
def display_text_max_col_width(df, width):
    with pd.option_context('display.max_colwidth', width):
        print(df)

display_text_max_col_width(ds1['best param1'], 800)

0    {'criterion': 'gini', 'max_depth': 170, 'max_features': 'sqrt', 'n_estimators': 375}
Name: best param1, dtype: object

In [136]:
cross_val_score_model(RandomForestClassifier(n_estimators=375,criterion='gini',max_features= 'sqrt', max_depth= 170),'Random Forest Classifier_Best_GridCV')

CV_Score RandomForestClassifier(max_depth=170, max_features='sqrt', n_estimators=375): 0.7714285714285714

# BEST MODEL : RandomForest MODEL' WITH HYPER PARAMETER TUNING using RandomizedSearch and GridSearchCV

In [159]:
#With our Hyper tuning
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
rf_y_pred=rf.predict(X_test)
accuracy=accuracy_score(y_test,rf_y_pred)
accuracy

0.7402597402597403

In [165]:
#With our Hyper Parameter tuning using Randomized Search Best Params
from sklearn.metrics import accuracy_score
rf_random=RandomForestClassifier(n_estimators=300,criterion='gini',max_features= 'sqrt', max_depth= 150)
rf_random.fit(X_train,y_train)
rf_random_y_pred=rf_random.predict(X_test)
accuracy1=accuracy_score(y_test,rf_random_y_pred)
accuracy1

0.7532467532467533

In [164]:
#With our Hyper Parameter tuning using Grid Search Best Params
from sklearn.metrics import accuracy_score
rf_best=RandomForestClassifier(n_estimators=375,criterion='gini',max_features= 'sqrt', max_depth= 170)
rf_best.fit(X_train,y_train)
rf_best_y_pred=rf_best.predict(X_test)
accuracy2=accuracy_score(y_test,rf_best_y_pred)
accuracy2

0.7662337662337663

In [153]:
df.iloc[43]

Pregnancies                   9.000
Glucose                     171.000
BloodPressure               110.000
SkinThickness                24.000
Insulin                     240.000
BMI                          45.400
DiabetesPedigreeFunction      0.721
Age                          54.000
Outcome                       1.000
Name: 43, dtype: float64

In [155]:
s=StandardScaler()
X_train=s.fit_transform(X_train)
X_test=s.transform(X_test)

In [156]:
a=[[9,171,110,24,240,45.4,0.721,54]]
a=s.transform(a)
b=rf_best.predict(a)
b

array([1], dtype=int64)

In [150]:
final=pd.DataFrame({'actual':y_test,
                   'predictions':rf_best_y_pred})

In [152]:
final.head(50)

     actual  predictions
568       0            1
620       0            0
456       0            0
197       1            0
714       0            0
27        0            0
277       0            0
64        1            1
720       0            0
475       0            0
482       0            0
555       0            0
43        1            1
161       0            0
400       1            0
660       0            1
549       0            1
273       0            0
302       0            0
45        1            1
386       1            1
191       0            0
674       0            0
254       1            0
518       0            0
195       1            1
92        0            0
349       1            0
435       1            1
748       1            1
507       0            0
183       0            0
190       0            0
354       0            0
485       1            0
384       0            0
577       1            0
121       0            0
335       0            1
240       0            0
701       1            0
242       1            0
303       1            0
299       0            0
539       1            1
596       0            0
517       0            0
626       0            0
171       1            0
167       0            0